################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/images/emmanuel_oyemade - Copy.jpg
/images/map.pdn
