/* Media queries */
/* colors */
/* colors fonts */
/* color background */
a {
  color: #ffffff;
}
/**
 * Animations
 *
 * TADA from https://l-lin.github.io/font-awesome-animation/
 */
@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  10%,
  20% {
    -webkit-transform: scale(0.9) rotate(-8deg);
    transform: scale(0.9) rotate(-8deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: scale(1.3) rotate(8deg);
    transform: scale(1.3) rotate(8deg);
  }
  40%,
  60% {
    -webkit-transform: scale(1.3) rotate(-8deg);
    transform: scale(1.3) rotate(-8deg);
  }
  80%,
  100% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}
@keyframes tada {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  10%,
  20% {
    -webkit-transform: scale(0.9) rotate(-8deg);
    transform: scale(0.9) rotate(-8deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: scale(1.3) rotate(8deg);
    transform: scale(1.3) rotate(8deg);
  }
  40%,
  60% {
    -webkit-transform: scale(1.3) rotate(-8deg);
    transform: scale(1.3) rotate(-8deg);
  }
  80%,
  100% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}
@keyframes tada-instagram {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  10%,
  20% {
    -webkit-transform: scale(0.8) rotate(-8deg);
    transform: scale(0.8) rotate(-8deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: scale(1.1) rotate(8deg);
    transform: scale(1.1) rotate(8deg);
  }
  40%,
  60% {
    -webkit-transform: scale(1.1) rotate(-8deg);
    transform: scale(1.1) rotate(-8deg);
  }
  80%,
  100% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}
.faa-tada.animated,
.faa-tada.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-tada {
  -webkit-animation: tada 2s linear infinite;
  animation: tada 2s linear infinite;
}
.faa-parent.animated-hover.faa-parent--instagram:hover > .faa-tada {
  -webkit-animation: tada 2s linear infinite;
  animation: tada-instagram 2s linear infinite;
}
.faa-tada.animated.faa-fast,
.faa-tada.animated-hover.faa-fast:hover,
.faa-parent.animated-hover:hover > .faa-tada.faa-fast {
  -webkit-animation: tada 1s linear infinite;
  animation: tada 1s linear infinite;
}
.faa-tada.animated.faa-slow,
.faa-tada.animated-hover.faa-slow:hover,
.faa-parent.animated-hover:hover > .faa-tada.faa-slow {
  -webkit-animation: tada 3s linear infinite;
  animation: tada 3s linear infinite;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 1.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.leaflet-popup-content-wrapper {
  border-radius: 0px;
}
.leaflet-popup-content {
  margin: 5px 10px;
}
.leaflet-popup-content h1 {
  margin-top: 0;
}
.leaflet-popup-content p {
  margin-top: 0px;
  margin-bottom: 5px;
  padding-left: 10px;
}
.leaflet-popup-content .twitter_link,
.leaflet-popup-content .website_link {
  position: absolute;
  top: 20px;
  right: 10px;
}
.leaflet-popup-content .date_time {
  margin-top: 15px;
  color: grey;
  text-align: right;
}
.leaflet-popup-content ul {
  margin-top: 0px;
}
.leaflet-popup-content div.need .label,
.leaflet-popup-content div.need h1 {
  color: #A51A1A;
}
.leaflet-popup-content div.supply .label,
.leaflet-popup-content div.supply h1 {
  color: #00966B;
}
.leaflet-container .custom-map-marker svg.iconic {
  position: static;
  width: 100%;
  height: 100%;
  overflow: visible;
  stroke: rgba(0, 0, 0, 0.24);
  stroke-width: 0.24;
  -webkit-filter: drop-shadow(0 8px 6px rgba(0, 0, 0, 0.64));
  filter: drop-shadow(0 8px 6px rgba(0, 0, 0, 0.64));
}
.leaflet-container .custom-map-marker .iconic-bg {
  display: inline-block;
  position: absolute;
  top: 4px;
  left: 50%;
  z-index: -1;
  width: 16px;
  height: 16px;
  margin-left: -8px;
}
.iconic-bg {
  background-color: #fff;
}
/* MARKERCLUSTER STYLES
    BASED ON :
    https://unpkg.com/leaflet.markercluster@1.0.5/dist/MarkerCluster.css
    https://unpkg.com/leaflet.markercluster@1.0.5/dist/MarkerCluster.Default.css
*/
.leaflet-cluster-anim .leaflet-marker-icon,
.leaflet-cluster-anim .leaflet-marker-shadow {
  -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
  -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
  -o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
  transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}
.leaflet-cluster-spider-leg {
  /* stroke-dashoffset (duration and function) should match with leaflet-marker-icon transform in order to track it exactly */
  -webkit-transition: -webkit-stroke-dashoffset 0.3s ease-out, -webkit-stroke-opacity 0.3s ease-in;
  -moz-transition: -moz-stroke-dashoffset 0.3s ease-out, -moz-stroke-opacity 0.3s ease-in;
  -o-transition: -o-stroke-dashoffset 0.3s ease-out, -o-stroke-opacity 0.3s ease-in;
  transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in;
}
/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
  background-color: #b5e28c;
}
.leaflet-oldie .marker-cluster-small div {
  background-color: #6ecc39;
}
.leaflet-oldie .marker-cluster-medium {
  background-color: #f1d357;
}
.leaflet-oldie .marker-cluster-medium div {
  background-color: #f0c20c;
}
.leaflet-oldie .marker-cluster-large {
  background-color: #fd9c73;
}
.leaflet-oldie .marker-cluster-large div {
  background-color: #f18017;
}
.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
}
.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  border-radius: 15px;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.marker-cluster span {
  line-height: 30px;
}
.needs_cluster.marker-cluster-small {
  background-color: rgba(241, 211, 87, 0.6);
}
.needs_cluster.marker-cluster-small div {
  background-color: rgba(240, 194, 12, 0.6);
}
.needs_cluster.marker-cluster-medium {
  background-color: rgba(253, 156, 115, 0.6);
}
.needs_cluster.marker-cluster-medium div {
  background-color: rgba(241, 128, 23, 0.6);
}
.needs_cluster.marker-cluster-large {
  background-color: rgba(165, 26, 26, 0.6);
}
.needs_cluster.marker-cluster-large div {
  background-color: rgba(165, 26, 26, 0.6);
}
.supplies_cluster.marker-cluster-small {
  background-color: rgba(181, 226, 140, 0.6);
}
.supplies_cluster.marker-cluster-small div {
  background-color: rgba(110, 204, 57, 0.6);
}
.supplies_cluster.marker-cluster-medium {
  background-color: rgba(73, 186, 74, 0.6);
}
.supplies_cluster.marker-cluster-medium div {
  background-color: rgba(55, 177, 82, 0.6);
}
.supplies_cluster.marker-cluster-large {
  background-color: rgba(0, 150, 107, 0.6);
}
.supplies_cluster.marker-cluster-large div {
  background-color: rgba(13, 118, 88, 0.6);
}
.n,
.s,
.b1,
.b2,
.b3,
.b4,
.g1,
.g2,
.g3,
.g4,
.p1,
.p2,
.p3,
.gr1 {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  line-height: 18px;
  margin-bottom: -1px;
}
.n {
  background-color: #A51A1A;
}
.s {
  background-color: #00966B;
}
.b1 {
  background-color: #A0C7E1;
}
.b2 {
  background-color: #4C80B6;
}
.b3 {
  background-color: #0C4C96;
}
.b4 {
  background-color: #20254B;
}
.g1 {
  background-color: #64AE3F;
}
.g2 {
  background-color: #21652D;
}
.g3 {
  background-color: #71C2AC;
}
.g4 {
  background-color: #00966B;
}
.p1 {
  background-color: #9388AA;
}
.p2 {
  background-color: #4B3F72;
}
.p3 {
  background-color: #54243C;
}
.gr1 {
  background-color: #706F6F;
}
.leaflet-container div.toggleGroup {
  position: relative;
  min-width: 65px;
  width: 100%;
  display: block;
  color: black;
}
.leaflet-container div.toggleGroup.needs_group i.fa-chevron-circle-up {
  color: #A51A1A;
}
.leaflet-container div.toggleGroup.supplies_group i.fa-chevron-circle-up {
  color: #00966B;
}
.leaflet-container div.toggleGroup i.fa-chevron-circle-up {
  position: absolute;
  right: 0;
  top: 2px;
  transition: all 0.75s;
}
.leaflet-container div.toggleGroup.toggle_collapsed i.fa-chevron-circle-up {
  color: gray;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.leaflet-container div.toggleGroup:focus {
  outline: none !important;
}
div.toggleGroup:focus {
  outline: none !important;
}
.leaflet-control-layers :focus {
  outline: none !important;
}
/* RESET */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* MIXINS */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* not needed ??? */
.main_hashtag,
.hashtag_style {
  background-color: #ffffff;
  color: #00966B;
  display: inline-block;
}
.main_hashtag {
  padding: 0px 20px;
  border-radius: 18px;
  text-transform: uppercase;
}
.hashtag_style {
  text-transform: uppercase;
}
.major_title,
.minor_title {
  background-color: #ffffff;
  color: #00966B;
  display: inline-block;
  text-transform: uppercase;
}
.major_title {
  font-size: 2em;
  padding: 0px 20px;
  border-radius: 18px;
}
.minor_title {
  font-size: 1.5em;
  padding: 2px 14px 0px 14px;
  border-radius: 13px;
}
.box_5 {
  box-shadow: 6px 9px 12px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.box_5:hover {
  box-shadow: 1px 7px 8px rgba(0, 0, 0, 0.95), 0 10px 10px rgba(0, 0, 0, 0.22);
}
/**
 * Column mixin - typically applied to major block elements at
 * smaller screen sizes
 */
.link_like {
  transition: all 1s ease-out;
}
.link_like_hover {
  color: #0a150d;
}
/* BASE STYLES */
body {
  margin: 0;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  padding: 0 0.5rem;
}
.fa-inverse {
  color: #00966B !important;
  /* ensures win over fontawesome when less is transpiled on client - leave for ease of dev */
}
.beep {
  background-image: url(/images/beep.png);
}
.innovation_bubble {
  background-image: url(/images/innovation_bubble.png);
}
.the_fourth_angel {
  background-image: url(/images/the_fourth_angel.png);
}
.the_social_element {
  background-image: url(/images/the_social_element.png);
}
.oval {
  background-image: url(/images/oval.png);
}
.ucl {
  background-image: url(/images/ucl.png);
}
.ushahidi {
  background-image: url(/images/ushahidi-wordmark.svg);
}
.the_fifth {
  background-image: url(/images/the_fifth.png);
}
.agile_clarity {
  background-image: url(/images/agile_clarity.png);
}
.care_given {
  background-image: url(/images/care_given.png);
}
/* mobile first */
/* HEADER */
#title_bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 0;
}
#icons {
  display: flex;
  flex-direction: row;
  font-size: 0.75em;
}
#icons a {
  margin-left: 10px;
}
#icons .faa-parent:hover {
  color: #076f51;
}
#title_bar #icons .faa-parent--instagram {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  height: 4em;
  width: 4em;
  border-radius: 50%;
}
#title_bar #icons .faa-parent--instagram:hover {
  text-decoration: none;
  -webkit-animation: tada 2s linear infinite;
  animation: tada 2s linear infinite;
  color: transparent;
  background-color: #076f51;
}
#title_bar #icons .faa-parent--instagram i {
  color: #00966B;
  font-size: 3em;
}
nav {
  /* why do we need so exact ones */
  padding: 1rem 0.5rem 0.5rem 1rem;
  flex-shrink: 1;
}
nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ol li {
  display: inline-block;
}
nav ol a,
nav ol span {
  padding: 0 0.75em 0 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 1s ease-out;
}
nav ol a:hover,
nav ol span:hover {
  color: #0a150d;
}
nav ol span {
  color: #0a150d;
}
#title {
  font-size: 1.5rem;
  font-weight: normal;
  white-space: normal;
  line-height: 125%;
  margin: 1rem;
  align-self: flex-start;
  flex-shrink: 1;
}
.main_hashtag {
  background-color: #ffffff;
  color: #00966B;
  padding: 0px 10px;
  border-radius: 18px;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
}
/* CONTENT */
.home_main {
  display: grid;
  grid-template-columns: auto;
  padding-top: 0px;
}
#intro,
.text_section {
  padding: 0 0.5rem;
}
#intro ul.hashtag_list,
.text_section ul.hashtag_list {
  list-style: none;
  font-weight: bold;
  line-height: 1.5;
  font-size: 1.25em;
  margin: 1rem 0 2rem;
}
#intro ul.hashtag_list li span,
.text_section ul.hashtag_list li span {
  font-weight: normal;
  color: #f7f0f0;
  margin-left: 0.5rem;
}
#intro h1,
.text_section h1 {
  background-color: #ffffff;
  color: #00966B;
  display: inline-block;
  text-transform: uppercase;
  font-size: 2em;
  padding: 0px 20px;
  border-radius: 18px;
  margin: 0;
}
#intro h2,
.text_section h2 {
  background-color: #ffffff;
  color: #00966B;
  display: inline-block;
  text-transform: uppercase;
  font-size: 2em;
  padding: 0px 20px;
  border-radius: 18px;
  margin: 0 auto;
  font-size: 1.5em;
  white-space: normal;
}
#intro h3,
.text_section h3 {
  padding-left: 0.5em;
  white-space: normal;
}
#intro p,
.text_section p {
  padding-left: 0.5em;
  font-size: 1em;
}
#map_wrapper {
  width: 100%;
  height: 400px;
}
#map_wrapper #map {
  width: 100%;
  height: 100%;
  z-index: 1;
}
#feeds {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.twitter-tweet {
  box-shadow: 6px 9px 12px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.twitter-tweet:hover {
  box-shadow: 1px 7px 8px rgba(0, 0, 0, 0.95), 0 10px 10px rgba(0, 0, 0, 0.22);
}
#our_voice {
  width: 100%;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00966B;
  margin-top: 5rem;
  font-size: 1.1em;
  line-height: 1.2em;
  padding: 0 0.5rem;
}
#contributors_links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0 1rem 1rem;
  overflow: hidden;
}
#contributors_links a {
  height: 40px;
  width: 80px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
#contributors_links a:hover {
  -webkit-animation: tada 2s linear infinite;
  animation: tada 2s linear infinite;
}
/* OTHER PAGES */
.indent_links a {
  padding-left: 1rem;
}
/*SUPPLIERS */
#suppliers_title {
  background-color: #ffffff;
  color: #00966B;
  display: inline-block;
  text-transform: uppercase;
  padding: 0px 20px;
  border-radius: 18px;
  margin: 1rem;
}
#suppliers_wrap {
  padding: 0;
  height: 100vh;
  width: 100vw;
}
#suppliers_frame {
  width: 100%;
  height: 100%;
}
.grid {
  text-align: center;
  column-width: 250px;
  column-gap: 5px;
  overflow: hidden;
}
@media screen and (min-width: 881px) {
  header {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #00966B;
    padding: 0 0.5rem;
    box-shadow: 0px 6px 11px rgba(0, 0, 0, 0.25);
  }
  main {
    flex: 1 0 auto;
  }
  nav {
    width: auto;
  }
  #title_bar {
    height: 6rem;
    z-index: 2;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  #title {
    font-size: 1.5rem;
    font-weight: normal;
    white-space: normal;
    margin: 0;
    align-self: center;
  }
  .home_main {
    grid-template-columns: auto calc(100vw - 530px - 20px);
    grid-gap: 12px;
    margin-top: 0;
    padding-left: 0.5rem;
  }
  #intro {
    padding: 0 1rem 0 1rem;
    grid-column: 1;
    grid-row: 1;
  }
  #intro p {
    font-size: 1.25em;
    padding-left: 1rem;
  }
  #intro h1 {
    margin-top: 2rem;
  }
  .text_section p {
    font-size: 1.25em;
  }
  #map_wrapper {
    grid-row: 1 / span 2;
    grid-column: 2;
    width: 99%;
    box-sizing: content-box;
    width: calc(100vw - 530px - 20px);
    height: calc(100vh - 10rem);
    right: 0;
    position: fixed;
  }
  #map {
    height: 100vh;
    width: auto;
  }
  #feeds {
    grid-row: 2;
    grid-column: 1;
  }
  #feeds h2 {
    margin-top: 0;
  }
  #needs {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    grid-auto-columns: min-content;
    text-align: center;
    width: 100%;
    padding: 0 1% 2.5rem;
  }
  footer {
    position: sticky;
    z-index: 2;
    bottom: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    box-shadow: -1px -6px 12px rgba(0, 0, 0, 0.3);
    margin-top: calc(0 - 4rem);
    flex-shrink: 0;
  }
  #footer_links,
  #os_note {
    padding: 1rem;
  }
  #footer_links a,
  #os_note a {
    transition: all 1s ease-out;
  }
  #footer_links a:hover,
  #os_note a:hover {
    color: #0a150d;
  }
  #contributors_links {
    flex-wrap: nowrap;
  }
  #contributors_links a {
    margin-bottom: 0;
  }
  .indent_links a {
    padding-left: 3rem;
  }
  .text_section {
    padding: 1rem 2rem;
  }
  #suppliers_wrap {
    height: calc(100vh - 4rem - 6rem);
    position: fixed;
    width: 100%;
  }
}
@media screen and (min-width: 1366px) {
  #title {
    font-size: 1.75em;
    font-weight: bold;
  }
  .main_hashtag {
    padding: 0px 20px;
  }
  #intro p {
    font-size: 1rem;
  }
  #intro ul {
    font-size: 1.25em;
  }
  .text_section {
    padding-top: 4rem;
  }
  .text_section h2 {
    margin-top: 2rem;
  }
  .text_section h3 {
    margin-top: 3rem;
    margin-bottom: 0;
  }
}
