@import "./styles/variables.less";
@import "./styles/fa-icons.less";
@import "./styles/leaflet.less";

/* RESET */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


/* MIXINS */
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* not needed ??? */
// .act_as_btn {
//     cursor: pointer;
//     .noselect;
// }

// .act_as_hover {
//     cursor: help;
//     .noselect;
// }

// .margin_left {
//     margin-left: 50px;
// }

// .img-circle {
//     border-radius: 50%;
// }

.main_hashtag,
.hashtag_style {
    background-color: @color_font;
    color: @color_background;
    display: inline-block;
}

.main_hashtag {
    padding: 0px 20px;
    border-radius: 18px;
    text-transform: uppercase; //TODO:
}

.hashtag_style {
    text-transform: uppercase;
}

.major_title,
.minor_title {
    .hashtag_style;
}

.major_title {
    font-size: 2em;
    padding: 0px 20px;
    border-radius: 18px;
}

.minor_title {
    font-size: 1.5em;
    padding: 2px 14px 0px 14px;
    border-radius: 13px;
}

// .indent {
//     padding-left: 40px;
// }

.box_5 {
    box-shadow: 6px 9px 12px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    &:hover {
        box-shadow: 1px 7px 8px rgba(0, 0, 0, 0.95), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
}

/**
 * Column mixin - typically applied to major block elements at
 * smaller screen sizes
 */
// .column {
//     width: 100%;
//     padding: 0 .5rem 0 0;
// }

.link_like {
    transition: all 1s ease-out;
}

.link_like_hover {
    color: @color_font_dark;
}

/* BASE STYLES */

body {
    margin: 0;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

.fa-inverse {
    color: @color_background !important; /* ensures win over fontawesome when less is transpiled on client - leave for ease of dev */
}

.beep {
    background-image: url(/images/beep.png);
}

.innovation_bubble {
    background-image: url(/images/innovation_bubble.png);
}

.the_fourth_angel {
    background-image: url(/images/the_fourth_angel.png);
}

.the_social_element {
    background-image: url(/images/the_social_element.png);
}

.oval {
    background-image: url(/images/oval.png);
}

.ucl {
    background-image: url(/images/ucl.png);
}

.ushahidi {
    background-image: url(/images/ushahidi-wordmark.svg);
}

.the_fifth {
    background-image: url(/images/the_fifth.png);
}

.agile_clarity {
    background-image: url(/images/agile_clarity.png);
}

.care_given {
    background-image: url(/images/care_given.png);
}


/* mobile first */

/* HEADER */

#title_bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 0;
}

#icons {
  display: flex;
  flex-direction: row;
  font-size: 0.75em;

  a {
    margin-left: 10px;
  }

  .faa-parent {
      &:hover {
          color: @color_background_dark;
      }
  }
}

#title_bar #icons .faa-parent--instagram {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: @color_font;
    height: 4em;
    width: 4em;
    border-radius: 50%;

    &:hover {
        text-decoration: none;
        -webkit-animation: tada 2s linear infinite;
        animation: tada 2s linear infinite;
        color: transparent;
        background-color: @color_background_dark;
    }

    i {
        color: @color_background;
        font-size: 3em;
    }
}

nav {
  /* why do we need so exact ones */
  padding: 1rem 0.5rem 0.5rem 1rem;
  flex-shrink: 1;

  ol {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
    }

    a, span {
      padding: 0 .75em 0 0;
      text-decoration: none;
      text-transform: uppercase;
      transition: all 1s ease-out;

      &:hover {
          color: @color_font_dark;
      }
    }

    span {
      color: @color_font_dark;
    }
  }
}

#title {
  font-size: 1.5rem;
  font-weight: normal;
  white-space: normal;
  line-height: 125%;
  margin: 1rem;
  align-self: flex-start;
  flex-shrink: 1;
}

.main_hashtag {
  background-color: @color_font;
  color: @color_background;
  padding: 0px 10px;
  border-radius: 18px;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
}

/* CONTENT */
.home_main {
    display: grid;
    grid-template-columns: auto;
    padding-top: 0px;
}

#intro, .text_section {
  padding: 0 0.5rem;

  ul.hashtag_list {
    list-style: none;
    font-weight: bold;
    line-height: 1.5;
    font-size: 1.25em;
    margin: 1rem 0 2rem;

    li span {
        font-weight: normal;
        color: #f7f0f0;
        margin-left: 0.5rem;
    }
  }
  h1 {
    .major_title;
    margin: 0;
  }

  h2 {
    .major_title;
    margin: 0 auto;
    font-size: 1.5em;
  }

  p {
    padding-left: 0.5em;
    font-size: 1.25em;
  }
}

#map_wrapper {
width: 100%;
height: 400px;

  #map {
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

#feeds {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.twitter-tweet {
  .box_5;
}

#our_voice {
  width: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: @color_green_main;
  margin-top: 5rem;
  font-size: 1.1em;
  line-height: 1.2em;
  padding: 0 0.5rem;
}

#contributors_links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem 0 1rem 1rem;
  overflow: hidden;

    a {
        height: 40px;
        width: 80px;
        display: inline-block;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        margin-right: 0.5rem;

        &:hover {
            -webkit-animation: tada 2s linear infinite;
            animation: tada 2s linear infinite;
        }
    }
}

/* OTHER PAGES */

.indent_links {
    a {
        padding-left: 3rem;
    }
}

/*SUPPLIERS */

#suppliers_title {
    background-color: #ffffff;
    color: #00966B;
    display: inline-block;
    text-transform: uppercase;
    padding: 0px 20px;
    border-radius: 18px;
    margin: 1rem;
}

#suppliers_wrap {
    padding: 0;
    height: 100vh;
    width: 100vw;
}

#suppliers_frame {
    width: 100%;
    height: 100%;
}


.grid {
    text-align: center;
    column-width: 250px;
    column-gap: 5px;
    overflow: hidden;
}

@media @wide {
  @header_height: 6rem;
  @footer_height: 4rem;
  @left_width: 530px; //tweets are 250px wide
  @fixed_height: @header_height + @footer_height;

  @v_scroll_buffer: 20px; //TODO:applies to title padding right for x_wide only?

  @map_width: calc(100vw - @left_width - @v_scroll_buffer);
  @map_height: calc(100vh - @fixed_height);

  header {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: @color_green_main;
    padding: 0 0.5rem;
    box-shadow: 0px 6px 11px rgba(0, 0, 0, 0.25);
  }

  main {
    flex: 1 0 auto;
  }

  nav {
    width: auto;
  }

  #title_bar {
    height: @header_height;
    z-index:2;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  #title {
    font-size: 1.5rem;
    font-weight: normal;
    white-space: normal;
    margin: 0;
    align-self: center;
  }

  .home_main {
    grid-template-columns: auto @map_width;
    grid-gap: 12px;
    margin-top: 0;
    padding-left: 0.5rem;
  }

  #intro {
    padding: 0 1rem 0 1rem;
    grid-column: 1;
    grid-row: 1;

    p {
      padding-left: 1rem;
    }

    h1 {
      margin-top: 2rem;
    }
  }

  #map_wrapper {
    grid-row: 1/span 2;
    grid-column: 2;
    width: 99%;
    box-sizing: content-box;
    width: @map_width;
    height: @map_height;
    right: 0;
    position: fixed
  }

  #map {
    height: 100vh;
    width: auto;
  }

  #feeds {
    grid-row: 2;
    grid-column: 1;

    h2 {
      margin-top: 0;
    }
  }

  #needs {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    grid-auto-columns: min-content;
    text-align: center;
    width: 100%;
    padding: 0 1% 2.5rem;
  }

  footer {
    position: sticky;
    z-index: 2;
    bottom: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: @footer_height;
    box-shadow: -1px -6px 12px rgba(0, 0, 0, 0.3);
    margin-top: calc(0 - @footer_height);
    flex-shrink: 0;
  }

  #footer_links, #os_note {
    padding: 1rem;

    a {
        .link_like;
    }

    a:hover {
        .link_like_hover;
    }
  }

  .text_section {
    padding: 1rem 2rem;
  }

  #suppliers_wrap {
    height: calc(100vh - @footer_height - @header_height);
    position: fixed;
    width: 100%;
  }
} 

@media @x_wide {

  #title {
    font-size: 1.75em;
    font-weight: bold;
  }
  .main_hashtag {
    padding: 0px 20px;
  }

  #intro {
    p {
      font-size: 1rem;
    }
    ul {
      font-size: 1.25em;
    }
  }

  .text_section {
    // padding-bottom: 6rem;
    padding-top: 4rem;

    h2 {
      margin-top: 2rem;
    }

    h3 {
        margin-top: 3rem;
        margin-bottom: 0;
    }
  }
}
