/* VARIABLES */
/* MIXINS */
/**
 * Column mixin - typically applied to major block elements at
 * smaller screen sizes
 */
.column {
  width: 100%;
  max-width: 45rem;
  padding: 0 0.5rem;
  margin-left: auto;
  margin-right: auto;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.act_as_btn {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.act_as_hover {
  cursor: help;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.margin_left {
  margin-left: 50px;
}
.img-circle {
  border-radius: 50%;
}
.main_hashtag,
.hashtag_style {
  background-color: #ffffff;
  color: #00966B;
  display: inline-block;
}
.main_hashtag {
  padding: 0px 20px;
  border-radius: 18px;
}
.hashtag_style {
  text-transform: uppercase;
}
.major_title,
.minor_title {
  background-color: #ffffff;
  color: #00966B;
  display: inline-block;
  text-transform: uppercase;
}
.major_title {
  font-size: 2em;
  padding: 0px 20px;
  border-radius: 18px;
}
.minor_title {
  font-size: 1.5em;
  padding: 2px 14px 0px 14px;
  border-radius: 13px;
}
.indent {
  padding-left: 40px;
}
.box_0,
.box_1 {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.box_0:hover,
.box_1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.box_0 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.box_1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.box_2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.box_3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.box_4 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.box_4:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.95), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.box_5 {
  box-shadow: 6px 9px 12px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.box_5:hover {
  box-shadow: 1px 7px 8px rgba(0, 0, 0, 0.95), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.link_like {
  transition: all 1s ease-out;
}
.link_like_hover {
  color: #0a150d;
}
/* RESET */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* BASE STYLES */
body {
  margin: 0;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
/* Sizing Variables */
/* Main Layout */
header {
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
header #title_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  height: calc(6rem - 1.5em);
  padding: 0 1rem;
}
header #title_bar #icons {
  font-size: 0.75em;
}
@media screen and (max-width: 880px) {
  header #title_bar #icons {
    margin: 0;
  }
}
header #title_bar #icons a {
  display: inline-block;
  vertical-align: middle;
}
header #title_bar #icons .faa-parent {
  margin-left: 10px;
}
header #title_bar #icons .faa-parent:hover {
  color: #076f51;
}
header #title_bar #icons #logo {
  background: url(images/frontline.jpg);
  width: 80px;
  height: 75px;
  background-size: cover;
  display: inline-block;
}
header nav {
  height: 1.5em;
  padding-left: 1rem;
  margin-top: 2rem;
}
header nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
header nav ol li {
  display: inline-block;
}
header nav ol a,
header nav ol span {
  padding: 0.5em;
  margin-right: 1em;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 1s ease-out;
}
header nav ol a:hover,
header nav ol span {
  color: #0a150d;
}
main.home_main {
  height: calc(100vh - calc(4rem + 6rem));
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
main {
  width: 100vw;
}
main #left_content {
  width: 550px;
  height: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}
main #left_content #intro {
  padding: 1rem 1.2rem 0 1.2rem;
}
main #left_content #intro a {
  transition: all 1s ease-out;
}
main #left_content #intro a:hover {
  color: #0a150d;
}
main #left_content #feeds {
  overflow-x: visible;
}
main #left_content #feeds h2 {
  padding-left: 1rem;
  margin-top: 3rem;
}
main #left_content #feeds #needs #published_tweets {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 0.5rem;
}
main #left_content #feeds #needs .twitter-tweet {
  box-shadow: 6px 9px 12px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
main #left_content #feeds #needs .twitter-tweet:hover {
  box-shadow: 1px 7px 8px rgba(0, 0, 0, 0.95), 0 10px 10px rgba(0, 0, 0, 0.22);
}
main #left_content #feeds #patterns {
  padding-bottom: 2rem;
}
main #left_content #feeds #patterns #timeline_small {
  padding: 0 1.2rem;
}
main #map_wrapper {
  width: calc(100vw - 550px);
  height: calc(100vh - calc(4rem + 6rem));
  box-sizing: content-box;
}
main #map_wrapper #map {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: content-box;
}
footer {
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
footer #contributors_links {
  height: 100%;
  margin-right: 1rem;
  padding-top: 0.6rem;
}
footer #contributors_links a {
  height: 40px;
  width: 80px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin-right: 0.5rem;
}
footer #contributors_links a:hover {
  -webkit-animation: tada 2s linear infinite;
  animation: tada 2s linear infinite;
}
footer #contributors_links .beep {
  background-image: url(/images/beep.png);
}
footer #contributors_links .innovation_bubble {
  background-image: url(/images/innovation_bubble.png);
}
footer #contributors_links .the_fourth_angel {
  background-image: url(/images/the_fourth_angel.png);
}
footer #contributors_links .the_social_element {
  background-image: url(/images/the_social_element.png);
}
footer #contributors_links .oval {
  background-image: url(/images/oval.png);
}
footer #contributors_links .ucl {
  background-image: url(/images/ucl.png);
}
footer #contributors_links .ushahidi {
  background-image: url(/images/ushahidi-wordmark.svg);
}
footer #contributors_links .the_fifth {
  background-image: url(/images/the_fifth.png);
}
footer #footer_links,
footer #os_note {
  padding: 1rem;
}
footer #footer_links a,
footer #os_note a {
  transition: all 1s ease-out;
}
footer #footer_links a:hover,
footer #os_note a:hover {
  color: #0a150d;
}
h1,
h2 {
  white-space: nowrap;
}
a {
  color: #ffffff;
}
@media screen and (max-width: 880px) {
  #intro,
  .text_section {
    padding: 0 1%;
    width: 100%;
    max-width: 45rem;
    padding: 0 0.5rem;
    margin-left: auto;
    margin-right: auto;
  }
}
#intro h1,
.text_section h1 {
  background-color: #ffffff;
  color: #00966B;
  display: inline-block;
  text-transform: uppercase;
  font-size: 2em;
  padding: 0px 20px;
  border-radius: 18px;
  margin: 0;
}
#intro h2,
.text_section h2 {
  background-color: #ffffff;
  color: #00966B;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.5em;
  padding: 2px 14px 0px 14px;
  border-radius: 13px;
  margin-bottom: 0px;
  margin-top: 0px;
}
#intro ul.hashtag_list,
.text_section ul.hashtag_list {
  list-style: none;
  font-weight: bold;
  line-height: 1.5;
  margin: 1rem 0 2rem;
}
#intro ul.hashtag_list li span,
.text_section ul.hashtag_list li span {
  font-weight: normal;
  color: #f7f0f0;
  margin-left: 0.5rem;
}
.text_section {
  padding: 2rem 10rem 2rem 5rem;
}
.text_section h2 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
.text_section a {
  transition: all 1s ease-out;
}
.text_section a:hover {
  color: #0a150d;
}
.indent_links a {
  margin-left: 2rem;
}
.indent_links h3 {
  margin-top: 2.5rem;
}
/**
 * Map popups
 */
h1.good {
  color: #00966B;
}
h1.bad {
  color: #A51A1A;
}
.leaflet-container.leaflet-fullscreen-on {
  width: 100% !important;
  height: 80% !important;
}
.leaflet-popup-content p {
  margin-top: 0px;
  margin-bottom: 5px;
  padding-left: 10px;
}
.leaflet-popup-content .twitter_link {
  position: absolute;
  top: 20px;
  right: 10px;
}
.leaflet-popup-content .label {
  color: #00966B;
}
.leaflet-popup-content .date_time {
  color: grey;
  text-align: right;
}
.leaflet-popup-content ul {
  margin-top: 0px;
}
.leaflet-container .custom-map-marker svg.iconic {
  position: static;
  width: 100%;
  height: 100%;
  overflow: visible;
  stroke: rgba(0, 0, 0, 0.24);
  stroke-width: 0.24;
  -webkit-filter: drop-shadow(0 8px 6px rgba(0, 0, 0, 0.64));
  filter: drop-shadow(0 8px 6px rgba(0, 0, 0, 0.64));
}
.leaflet-container .custom-map-marker .iconic-bg {
  display: inline-block;
  position: absolute;
  top: 4px;
  left: 50%;
  z-index: -1;
  width: 16px;
  height: 16px;
  background-color: #fff;
  margin-left: -8px;
}
.fa-inverse {
  color: #00966B;
}
.fa-stack {
  vertical-align: top;
}
#title_bar #icons .faa-parent--instagram {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  height: 4em;
  width: 4em;
  border-radius: 50%;
}
#title_bar #icons .faa-parent--instagram:hover {
  text-decoration: none;
  -webkit-animation: tada 2s linear infinite;
  animation: tada 2s linear infinite;
  color: transparent;
  background-color: #076f51;
}
#title_bar #icons .faa-parent--instagram i {
  color: #00966B;
  font-size: 3em;
}
/**
 * Animations
 *
 * TADA from https://l-lin.github.io/font-awesome-animation/
 */
@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  10%,
  20% {
    -webkit-transform: scale(0.9) rotate(-8deg);
    transform: scale(0.9) rotate(-8deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: scale(1.3) rotate(8deg);
    transform: scale(1.3) rotate(8deg);
  }
  40%,
  60% {
    -webkit-transform: scale(1.3) rotate(-8deg);
    transform: scale(1.3) rotate(-8deg);
  }
  80%,
  100% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}
@keyframes tada {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  10%,
  20% {
    -webkit-transform: scale(0.9) rotate(-8deg);
    transform: scale(0.9) rotate(-8deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: scale(1.3) rotate(8deg);
    transform: scale(1.3) rotate(8deg);
  }
  40%,
  60% {
    -webkit-transform: scale(1.3) rotate(-8deg);
    transform: scale(1.3) rotate(-8deg);
  }
  80%,
  100% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}
@keyframes tada-instagram {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  10%,
  20% {
    -webkit-transform: scale(0.8) rotate(-8deg);
    transform: scale(0.8) rotate(-8deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: scale(1.1) rotate(8deg);
    transform: scale(1.1) rotate(8deg);
  }
  40%,
  60% {
    -webkit-transform: scale(1.1) rotate(-8deg);
    transform: scale(1.1) rotate(-8deg);
  }
  80%,
  100% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}
.faa-tada.animated,
.faa-tada.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-tada {
  -webkit-animation: tada 2s linear infinite;
  animation: tada 2s linear infinite;
}
.faa-parent.animated-hover.faa-parent--instagram:hover > .faa-tada {
  -webkit-animation: tada 2s linear infinite;
  animation: tada-instagram 2s linear infinite;
}
.faa-tada.animated.faa-fast,
.faa-tada.animated-hover.faa-fast:hover,
.faa-parent.animated-hover:hover > .faa-tada.faa-fast {
  -webkit-animation: tada 1s linear infinite;
  animation: tada 1s linear infinite;
}
.faa-tada.animated.faa-slow,
.faa-tada.animated-hover.faa-slow:hover,
.faa-parent.animated-hover:hover > .faa-tada.faa-slow {
  -webkit-animation: tada 3s linear infinite;
  animation: tada 3s linear infinite;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 1.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
