/* VARIABLES */
body.not_yet_ready .anti_fouc {
    display: none;
}
/* MIXINS */
.margin_left {
    margin-left: 50px;
}

.img-circle {
    border-radius: 50%;
}

.hashtag_style {
    text-transform: uppercase;
    background-color: #ffffff;
    color: #00966B;
    display: inline-block;
}

.major_title,
.minor_title {
    text-transform: uppercase;
    background-color: #ffffff;
    color: #00966B;
    display: inline-block;
}

.major_title {
    font-size: 2em;
    padding: 0px 20px;
    border-radius: 18px;
}

.minor_title {
    font-size: 1.5em;
    padding: 2px 14px 0px 14px;
    border-radius: 13px;
}

.act_as_btn {
    cursor: pointer;
}

.indent {
    padding-left: 40px;
}

.box_0,
.box_1 {
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

    .box_0:hover,
    .box_1:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }

.box_0 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.box_1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.box_2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.box_3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.box_4 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

    .box_4:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.95), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
/**
 * Column mixin - typically applied to major block elements at
 * smaller screen sizes
 */
.column {
    width: 100%;
    max-width: 45rem;
    padding: 0 0.5rem;
    margin: 0 auto;
}
/* RESET */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
/* BASE STYLES */
html,
body {
    font-family: 'DM Sans', Helvetica, Verdana, sans-serif;
    font-weight: normal;
    font-size: 15px;
    background: #00966B;
    color: #ffffff;
}
/* STYLES - if that's what you call it ;)  */
body {
    margin: 0;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

header {
    border: solid red 0px;
}

    header #title_bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1% 0 1%;
    }

@media screen and (max-width: 880px) {
    header #title_bar {
        display: block;
        width: 100%;
        max-width: 45rem;
        padding: 0 0.5rem;
        margin: 0 auto;
    }
}

header #title_bar #icons {
    border: solid red 0px;
    font-size: 0.8em;
    vertical-align: top;
}

@media screen and (max-width: 880px) {
    header #title_bar #icons {
        margin: 0;
    }
}

header #title_bar #icons #twitter,
header #title_bar #icons #facebook {
    border: solid red 0px;
    margin-left: 10px;
}

    header #title_bar #icons #twitter:hover,
    header #title_bar #icons #facebook:hover {
        color: #076f51;
    }

header #title_bar #icons #facebook {
    border: solid blue 0px;
}

header #title_bar #title {
    font-size: 2em;
    margin: 0;
    font-weight: normal;
}

    header #title_bar #title span.hashtag_style {
        font-weight: bold;
        padding: 0px 20px;
        border-radius: 20px;
    }

header nav {
    margin: 1rem 0;
    padding: 0 1%;
}

@media screen and (max-width: 880px) {
    header nav {
        width: 100%;
        max-width: 45rem;
        padding: 0 0.5rem;
        margin: 0 auto;
    }
}

header nav ol {
    border: solid purple 0px;
    /* flex items */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    /* remove numbers */
    list-style: none;
    padding: 0;
}

    header nav ol li a {
        height: 30px;
        padding: 5px 0px 0px 0px;
        margin-right: 100px;
        display: inline-block;
        text-decoration: none;
        border: solid blue 0px;
        text-transform: uppercase;
        transition: all 1s ease-out;
        font-family: 'DM Sans', Helvetica, Verdana, sans-serif;
    }

        header nav ol li a:hover {
            color: black;
        }

main {
    flex: 1;
    overflow: auto;
    border: solid 0px blue;
    padding-top: 0px;
}

#core_content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
}

@media screen and (max-width: 880px) {
    #core_content {
        flex-direction: column;
    }
}

#core_content #intro {
    width: 30%;
    padding: 0 2vw;
    /* BCS wanted give text a little more space */
    border: solid green 0px;
}

@media screen and (max-width: 880px) {
    #core_content #intro {
        width: 100%;
        max-width: 45rem;
        padding: 0 0.5rem;
        margin: 0 auto;
    }
}

#core_content #intro h1 {
    text-transform: uppercase;
    background-color: #ffffff;
    color: #00966B;
    display: inline-block;
    font-size: 2em;
    padding: 0px 20px;
    border-radius: 18px;
    margin-bottom: 0px;
    margin-top: 15px;
}

#core_content #intro h2 {
    text-transform: uppercase;
    background-color: #ffffff;
    color: #00966B;
    display: inline-block;
    font-size: 1.5em;
    padding: 2px 14px 0px 14px;
    border-radius: 13px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#core_content #intro #request,
#core_content #intro #response {
    border: solid green 0px;
    display: flex;
    justify-content: flex-start;
}

    #core_content #intro #request #request_text,
    #core_content #intro #response #request_text {
        border: solid gray 0px;
        display: inline;
    }

#core_content #intro #request {
    margin-bottom: 10px;
}

    #core_content #intro #request p {
        font-size: 1.5em;
    }

#core_content #intro #response p {
    font-size: 1em;
    margin-right: 100px;
}

#core_content #map {
    width: 70%;
    border: solid red 0px;
    margin-top: 10px;
    margin-right: 15px;
}

@media screen and (max-width: 880px) {
    #core_content #map {
        width: 100%;
        height: 400px;
    }
}

#core_content #map #map_inner {
    height: 100%;
    position: relative;
}

    #core_content #map #map_inner #map_container {
        border: solid purple 0px;
        width: 600px;
        height: 400px;
        position: relative;
        outline: none;
        margin: 0;
        padding: 0;
        box-sizing: content-box;
        box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5), 0px 0px 7px 2px rgba(76, 175, 80, 0.5);
        border: solid 1px rgba(76, 175, 80, 0.5);
    }

#twitter_feeds {
    border: solid 0px blue;
    margin-top: 0px;
    margin-bottom: 100px;
}

    #twitter_feeds #feeds {
        border: solid 0px blue;
        display: flex;
        justify-content: space-evenly;
    }

@media screen and (max-width: 880px) {
    #twitter_feeds #feeds {
        flex-direction: column;
    }
}

#twitter_feeds #feeds h2 {
    margin-bottom: 10px;
    text-align: center;
}

#twitter_feeds #feeds .feed {
    width: 32%;
}

@media screen and (max-width: 880px) {
    #twitter_feeds #feeds .feed {
        width: 100%;
        max-width: 45rem;
        padding: 0 0.5rem;
        margin: 0 auto;
    }
}

#twitter_feeds #feeds .tweets i.fa-spin {
    margin-left: 45%;
    margin-top: 10vh;
}

#twitter_feeds #feeds .tweet {
    float: left;
    font-size: 0.8em;
    color: #0a150d;
    background-color: #ffffff;
    width: 48%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 2%;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    cursor: pointer;
}

    #twitter_feeds #feeds .tweet:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.95), 0 10px 10px rgba(0, 0, 0, 0.22);
    }

    #twitter_feeds #feeds .tweet .image {
        display: inline-block;
        margin-right: 20px;
    }

        #twitter_feeds #feeds .tweet .image img {
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
            border-radius: 50%;
            width: 48px;
        }

    #twitter_feeds #feeds .tweet .body {
        display: flex;
        flex-direction: column;
    }

        #twitter_feeds #feeds .tweet .body .date_time {
            color: gray;
        }

footer {
    min-height: 60px;
    text-align: center;
}

@media screen and (max-width: 880px) {
    footer {
        width: 100%;
        max-width: 45rem;
        padding: 0 0.5rem;
        margin: 0 auto;
    }
}

.fa-inverse {
    color: #00966B;
}

.fa-stack {
    vertical-align: top;
}

a {
    color: #ffffff;
}

.logo {
    vertical-align: top;
    background: url(images/logo-frontline.png);
    width: 60px;
    height: 60px;
    background-size: cover;
    border: solid red 0px;
    display: inline-block;
}
/* TADA https://l-lin.github.io/font-awesome-animation/ */
@-webkit-keyframes tada {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    10%, 20% {
        -webkit-transform: scale(0.9) rotate(-8deg);
        transform: scale(0.9) rotate(-8deg);
    }

    30%, 50%, 70% {
        -webkit-transform: scale(1.3) rotate(8deg);
        transform: scale(1.3) rotate(8deg);
    }

    40%, 60% {
        -webkit-transform: scale(1.3) rotate(-8deg);
        transform: scale(1.3) rotate(-8deg);
    }

    80%, 100% {
        -webkit-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0);
    }
}

@keyframes tada {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    10%, 20% {
        -webkit-transform: scale(0.9) rotate(-8deg);
        transform: scale(0.9) rotate(-8deg);
    }

    30%, 50%, 70% {
        -webkit-transform: scale(1.3) rotate(8deg);
        transform: scale(1.3) rotate(8deg);
    }

    40%, 60% {
        -webkit-transform: scale(1.3) rotate(-8deg);
        transform: scale(1.3) rotate(-8deg);
    }

    80%, 100% {
        -webkit-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0);
    }
}

.faa-tada.animated,
.faa-tada.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-tada {
    -webkit-animation: tada 2s linear infinite;
    animation: tada 2s linear infinite;
}

    .faa-tada.animated.faa-fast,
    .faa-tada.animated-hover.faa-fast:hover,
    .faa-parent.animated-hover:hover > .faa-tada.faa-fast {
        -webkit-animation: tada 1s linear infinite;
        animation: tada 1s linear infinite;
    }

    .faa-tada.animated.faa-slow,
    .faa-tada.animated-hover.faa-slow:hover,
    .faa-parent.animated-hover:hover > .faa-tada.faa-slow {
        -webkit-animation: tada 3s linear infinite;
        animation: tada 3s linear infinite;
    }

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}
/* group transitions for tweets - ~straight from vue docs but not working properly. hmmm? */
.list-enter-active,
.list-leave-active {
    transition: all 2s;
}

.list-enter,
.list-leave-to {
    opacity: 0;
    transform: translateY(30px);
}

h1.good {
    color: #00966B;
}

h1.bad {
    color: #A51A1A;
}

.contributors {
    height: 40px;
    width: 80px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 2vw;
}

    .contributors:hover {
        -webkit-animation: tada 2s linear infinite;
        animation: tada 2s linear infinite;
    }

.beep {
    background-image: url(/images/beep.png);
}

.innovation_bubble {
    background-image: url(/images/innovation_bubble.png);
}

.the_fourth_angel {
    background-image: url(/images/the_fourth_angel.png);
}

.the_social_element {
    background-image: url(/images/the_social_element.png);
}

.oval {
    background-image: url(/images/oval.png);
}

.ucl {
    background-image: url(/images/ucl.png);
}

#map_container {
    transition: all 1s ease-in-out;
}

    #map_container.leaflet-container.leaflet-fullscreen-on {
        width: 100% !important;
        height: 80% !important;
    }

#dash_controls {
    height: 0px;
    opacity: 0;
    text-align: center;
    transition: opacity 0s;
}

    #dash_controls p {
        font-size: 1.2em;
    }

    #dash_controls.visible {
        opacity: 1;
        position: absolute;
        bottom: 9%;
        height: 100px;
        width: 100%;
        transition: opacity 2.5s ease-in-out;
    }

#feeds {
    opacity: 0;
    transition: all 0s;
}

    #feeds.visible {
        opacity: 1;
        height: auto;
        transition: all 2.5s ease-in-out;
    }
